#key {
    float: right;
    width: 25%;
    border: 2px solid black;
}

#household_key {
    background-color:#C8C8C8;
}

#asian_key {
    background-color:#FF6666;
}

#white_key {
    background-color:#FFFF33;
}

#hispanic_key {
    background-color:#00FF64;
}

#black_key {
    background-color:#3399FF;
}
