<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      path {
      stroke: #fff;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
  </head>

  
  <body>
    <div class="page-header">
      <h1>Change in Mean Income	Received by each Quintile of Various Races of US Citizens</h1>
    </div>
    <h2 id="year_label"></h2>
    <div>
      <h4>Change the Year<h4>
      <input type="range" name="year" id="slider" value="2015" min="2002" max="2015">
      <button type="button" class="btn btn-primary" id="animate">Animate</button>
    </div>
    
    <div id="key">
      <h4>Key</h4>
      <ul class="list-group">
	<h5>Race Key</h5>
	<li class="list-group-item" id="black_key">Total Income Held By Black Households</li>
	<li class="list-group-item" id="hispanic_key">Total Income Held By Hispanic Households</li>
	<li class="list-group-item" id="white_key">Total Income Held By White Households</li>
	<li class="list-group-item" id="asain_key">Total Income Held By Asain Households</li>
      </ul>
    </div>

    <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
  </body>

  
</html>
